@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Goodarc 面試題目</h1>
    <br/>
    <p class="lead mt-2">
        目標:
        建立一個有CRUD功能的基本網站，使用者可以在同一個頁面同時瀏覽列表與編輯資料。
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>學生編輯頁面</h2>
        <p>
            可查看目前學生列表與新增刪除修改學生資料
        </p>
        <p><a class="btn btn-outline-info" href="@Url.Action("Index","Student", new { area = "Student" })">前往 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>課程編輯頁面</h2>
        <p>可查看目前課程列表與新增刪除修改課程資料</p>
        <p><a class="btn btn-outline-primary" href="@Url.Action("Index","Course", new { area = "Course" })">前往 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>選課頁面</h2>
        <p>可指定某位學生配對多個課程</p>
        <p><a class="btn btn-outline-success" href="@Url.Action("SelectionCourseindex","Student", new { area = "Student" })">前往 &raquo;</a></p>
    </div>
</div>