
<form method="post" id="form">
    @{
        if (ViewBag.StudentList != null && ViewBag.StudentList.Count > 0)
        {
            <div class="row mr-0 ml-0">
                <select name="students" id="students" class="custom-select col-6" onchange="SelectStudent(0)">
                    <option selected value="0">請選擇學生</option>
                    @foreach (var data in ViewBag.StudentList)
                    {
                        <option value="@data.StudentNo">@(data.Name +"(" + @data.StudentID + ")")</option>
                    }
                </select>
                <div class="col-6"><span id="err_student" style="display: none;" class="text-danger">*請選擇學生</span></div>
            </div>
            <div id="chooseCourse" class="row mr-0 ml-0 mt-3 mb-3">
            </div>
            <div><span id="err_course" class="text-danger" style="display: none;">*請選擇課程</span></div>
            <div class="row">
                <button type="button" class="btn btn-primary btn-block col-8" style="margin: 0 auto;" id="addbtn" onclick="Submit(0);">新增</button>
            </div>
        }
        else
        {
            <div class="row">
                <select name="students" id="students" class="custom-select" onchange="SelectStudent(1)">
                    <option selected value="0">目前無學生可選擇</option>
                </select>
            </div>
            <div id="chooseCourse"  class="row mr-0 ml-0 mt-3 mb-3">
            </div>
        }
    }
</form>
<script>
    $(document).ready(function () {
        SelectStudent(1);
   })
    function SelectStudent(n) {
        $('#err_course').hide();
       if (n == 0 && $('#students').val() == 0) {
           $('#err_student').show();
       } else {
           $('#err_student').hide();
       }
       $.ajax({
           method: "get",
           data: { no: $('#students').val() },
           async: false,
           url: '@Url.Action("GetStudentEnrollment", "Student", new { area = "Student" })',
           success: function (result) {
               $('#chooseCourse').empty();
               $('#chooseCourse').append(result);
           }
   });
   }

</script>

